.base {
  padding: 1rem;
  min-height: 100vh;
}

.card {
  background-color: #1A1A1A;
  border-radius: 0.75rem;
  color: #FFF;
  padding: 1rem;
}

.effects {
  align-items: center;
  background-image: linear-gradient(135deg, rgba(#F04F30, .5), rgba(#AA4488, .5));
  border-radius: 0 0 0.5rem 0.5rem;
  color: #FFF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0.5rem -1rem -1rem;
  padding: 0.5rem;
}

.effect {
  align-items: center;
  display: flex;
  font-family: 'Noto Sans';
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
}

.name {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}